spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:mysql://localhost:3307/ddingdong_local_db
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234
  flyway:
    enabled: false

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show-sql: true
    defer-datasource-initialization: true

logging:
  level:
    org.springframework.cache: TRACE
    org.springframework.cache.interceptor.CacheInterceptor: TRACE
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
        orm:
          jdbc:
            bind: TRACE

cloud:
  aws:
    ses:
      configuration-set-name: "ddingdong-form-application-result-set"
