spring:
  config:
    activate:
      on-profile: dev

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DEV_DB_URL}
    username: ${DEV_DB_USERNAME}
    password: ${DEV_DB_PASSWORD}

  jpa:
    database: mysql
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.format_sql: true
    defer-datasource-initialization: false

  sql:
    init:
      mode: never

springdoc:
  api-docs:
    version: OPENAPI_3_0

jwt:
  header: "Authorization"
  prefix: "Bearer"
  issuer: "ddingdong"
  secret: ${JWT_SECRET}
  expiration: 36000

cloud:
  aws:
    ses:
      configuration-set-name: "ddingdong-form-application-result-set"
