packages:
  yum:
    wget: []
    libaio: []

commands:
  01_add_mysql_repo:
    command: "wget https://repo.mysql.com/mysql80-community-release-el7-3.noarch.rpm && sudo rpm -ivh mysql80-community-release-el7-3.noarch.rpm"

  02_install_mysql:
    command: "sudo yum install -y mysql-community-server"

  03_start_mysql_service:
    command: "sudo systemctl start mysqld"
    ignoreErrors: false

  04_enable_mysql_service:
    command: "sudo systemctl enable mysqld"
    ignoreErrors: false

  05_secure_mysql_installation:
    command: |
      sudo mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED BY 'ddingdong';"
      sudo mysql -e "DELETE FROM mysql.user WHERE User='';"
      sudo mysql -e "DROP DATABASE IF EXISTS test;"
      sudo mysql -e "DELETE FROM mysql.db WHERE Db='test' OR Db='test\\_%';"
      sudo mysql -e "FLUSH PRIVILEGES;"
    ignoreErrors: false

files:
  "/home/ec2-user/.my.cnf":
    mode: "000600"
    owner: ec2-user
    group: ec2-user
    content: |
      [client]
      user=root
      password=ddingdong

container_commands:
  01_create_database:
    command: |
      mysql -e "CREATE DATABASE IF NOT EXISTS ddingdong_test;"
      mysql -e "CREATE USER IF NOT EXISTS 'myuser'@'%' IDENTIFIED BY 'ddingdong';"
      mysql -e "GRANT ALL PRIVILEGES ON ddingdong_test.* TO 'myuser'@'%';"
      mysql -e "FLUSH PRIVILEGES;"
    leader_only: true
