files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar
            LOG_DIR=/var/app/current/logs/gc
            mkdir -p $LOG_DIR

            # run app
            killall java
            java \
              -Dfile.encoding=UTF-8 \
              -Xms512m -Xmx512m \
              -Xlog:gc*,gc+humongous=debug:file=$LOG_DIR/gc.log:time,uptime,level,tags:filecount=5,filesize=100M \
              -XX:+HeapDumpOnOutOfMemoryError \
              -XX:HeapDumpPath=$LOG_DIR/heapdump.hprof \
              -XX:ConcGCThreads=2 \
              -XX:G1HeapRegionSize=2m \
              -XX:MaxNewSize=128m \
              -jar $JAR_PATH
