container_commands:
  01_create_current_directory:
    command: |
      sudo mkdir -p /var/app/current
      sudo chown ec2-user:ec2-user /var/app/current
      sudo chmod 755 /var/app/current

  02_install_docker:
    command: |
      sudo amazon-linux-extras install -y docker
      sudo systemctl enable docker
      sudo systemctl start docker

  03_install_docker_compose:
    command: |
      sudo curl -L "https://github.com/docker/compose/releases/download/v2.5.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
      sudo chmod +x /usr/local/bin/docker-compose
      docker-compose --version

  04_create_promtail_config:
    command: |
      cat << EOF > /var/app/current/promtail-config.yml
      server:
        http_listen_port: 9080
        grpc_listen_port: 0

      positions:
        filename: /var/app/current/positions.yaml

      clients:
        - url: \${LOKI_URL}

      scrape_configs:
        - job_name: all
          static_configs:
            - targets:
                - localhost
              labels:
                job: all_logs
                __path__: /var/app/current/logs/all/*.log

        - job_name: warn
          static_configs:
            - targets:
                - localhost
              labels:
                job: warn_logs
                __path__: /var/app/current/logs/warn/*.log

        - job_name: error
          static_configs:
            - targets:
                - localhost
              labels:
                job: error_logs
                __path__: /var/app/current/logs/error/*.log
      EOF

  05_setup_promtail:
    command: |
      # positions 파일 초기화
      echo "{}" > /var/app/current/positions.yaml

      cat << EOF > /var/app/current/promtail-docker-compose.yml
      version: '3'
      services:
        promtail:
          image: grafana/promtail:2.5.0
          environment:
            - LOKI_URL=${LOKI_URL}
          ports:
            - "9080:9080"  # 호스트의 9080 포트를 컨테이너의 9080 포트에 매핑
          volumes:
            - /var/app/current/logs:/var/app/current/logs
            - /var/app/current/positions.yaml:/var/app/current/positions.yaml
          command: -config.file=/var/app/current/promtail-config.yml
      EOF
      docker-compose -f /var/app/current/promtail-docker-compose.yml up -d
