container_commands:
  01_install_docker:
    command: |
      sudo amazon-linux-extras install -y docker
      sudo systemctl enable docker
      sudo systemctl start docker

  02_install_docker_compose:
    command: |
     sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
      sudo chmod +x /usr/local/bin/docker-compose
      docker-compose --version

  03_add_user_to_docker_group:
    command: |
      sudo usermod -aG docker webapp
