container_commands:
  01_create_custom_directory:
    command: |
      sudo mkdir -p /var/app/promtail
      sudo chown ec2-user:ec2-user /var/app/promtail
      sudo chmod 755 /var/app/promtail

  02_install_docker:
    command: |
      sudo amazon-linux-extras install -y docker
      sudo systemctl enable docker
      sudo systemctl start docker

  03_install_docker_compose:
    command: |
      sudo curl -L "https://github.com/docker/compose/releases/download/v2.5.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
      sudo chmod +x /usr/local/bin/docker-compose
      docker-compose --version

  04_create_log_directories:
    command: |
      mkdir -p /tmp/logs/sys
      sudo chown -R ec2-user:ec2-user /tmp/logs/sys
      sudo chmod -R 755 /tmp/logs/sys

  05_create_promtail_config:
    command: |
      cat << EOF > /var/app/promtail/promtail-config.yml
      server:
        http_listen_port: 9080
        grpc_listen_port: 0

      positions:
        filename: /var/app/promtail/positions.yaml

      clients:
        - url: \${LOKI_URL}

      scrape_configs:
        - job_name: all
          static_configs:
            - targets:
                - localhost
              labels:
                job: all_logs
                __path__: /var/app/logs/all/*.log

        - job_name: warn
          static_configs:
            - targets:
                - localhost
              labels:
                job: warn_logs
                __path__: /var/app/logs/warn/*.log

        - job_name: error
          static_configs:
            - targets:
                - localhost
              labels:
                job: error_logs
                __path__: /var/app/logs/error/*.log
      EOF

  06_setup_promtail:
    command: |
      echo "{}" > /var/app/promtail/positions.yaml

      cat << EOF > /var/app/promtail/promtail-docker-compose.yml
      version: '3'
      services:
        promtail:
          image: grafana/promtail:2.5.0
          environment:
            - LOKI_URL=${LOKI_URL}
          ports:
            - "9080:9080"
          volumes:
            - /tmp/logs/sys:/var/app/logs
            - /var/app/promtail/positions.yaml:/var/app/promtail/positions.yaml
            - /var/app/promtail:/var/app/promtail
          command: -config.file=/var/app/promtail/promtail-config.yml
      EOF

      docker-compose -f /var/app/promtail/promtail-docker-compose.yml up -d
