files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_install_promtail.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      PROMTAIL_VERSION="2.8.0"

      # Promtail 다운로드 및 설치
      if [ ! -f "/usr/local/bin/promtail" ]; then
        wget https://github.com/grafana/loki/releases/download/v${PROMTAIL_VERSION}/promtail-linux-amd64.zip
        unzip promtail-linux-amd64.zip
        sudo mv promtail-linux-amd64 /usr/local/bin/promtail
        rm promtail-linux-amd64.zip
      fi

      # 환경 변수에서 Loki 클라이언트 URL 가져오기
      LOKI_URL=$(sudo /opt/elasticbeanstalk/bin/get-config environment -k LOKI_URL)

      # Promtail 설정 파일 생성
      cat << EOF > /etc/promtail-config.yml
      server:
        http_listen_port: 9080
        grpc_listen_port: 0

      positions:
        filename: /tmp/positions.yaml

      clients:
        - url: ${LOKI_URL}

      scrape_configs:
        - job_name: all
          static_configs:
            - targets:
                - localhost
              labels:
                job: all_logs
                __path__: /var/log/all/*.log

        - job_name: warn
          static_configs:
            - targets:
                - localhost
              labels:
                job: warn_logs
                __path__: /var/log/warn/*.log

        - job_name: error
          static_configs:
            - targets:
                - localhost
              labels:
                job: error_logs
                __path__: /var/log/error/*.log
      EOF

      # Promtail 서비스 파일 생성
      cat << EOF > /etc/systemd/system/promtail.service
      [Unit]
      Description=Promtail service
      After=network.target

      [Service]
      Type=simple
      User=root
      ExecStart=/usr/local/bin/promtail -config.file /etc/promtail-config.yml

      [Install]
      WantedBy=multi-user.target
      EOF

      # Promtail 서비스 시작 및 부팅 시 자동 실행 설정
      sudo systemctl daemon-reload
      sudo systemctl enable promtail
      sudo systemctl start promtail

container_commands:
  01_start_promtail:
    command: |
      sudo systemctl daemon-reload
      sudo systemctl enable promtail
      sudo systemctl start promtail
