commands:
  01_install_docker:
    command: "amazon-linux-extras install docker"
  02_start_docker:
    command: "service docker start"
  03_enable_docker:
    command: "chkconfig docker on"
  04_pull_frontend_image:
    command: "docker pull ddingdong/ddingdong-deploy:latest"
  05_run_frontend_container:
    command: "docker run -d -p 80:3000 ddingdong/ddingdong-deploy:latest"
