packages:
  yum:
    wget: []

commands:
  01_add_mysql_repo:
    command: |
      sudo wget https://dev.mysql.com/get/mysql80-community-release-el7-3.noarch.rpm -O /tmp/mysql80-community-release-el7-3.noarch.rpm && \
      sudo rpm -Uvh /tmp/mysql80-community-release-el7-3.noarch.rpm && \
      sudo yum clean all
    ignoreErrors: false
    test: test ! -f /etc/yum.repos.d/mysql-community.repo

  02_install_mysql:
    command: "sudo yum -y install mysql-community-server"
    ignoreErrors: false

  03_start_mysql:
    command: "sudo service mysqld start"
    ignoreErrors: false

  04_create_database:
    command: "mysql -u root -e 'CREATE DATABASE IF NOT EXISTS ddingdong_test'"
    ignoreErrors: false

  05_create_user:
    command: |
      mysql -u root -e "CREATE USER IF NOT EXISTS 'myuser'@'localhost' IDENTIFIED BY 'mypassword';" && \
      mysql -u root -e "GRANT ALL PRIVILEGES ON ddingdong_test.* TO 'myuser'@'localhost';" && \
      mysql -u root -e "FLUSH PRIVILEGES;"
    ignoreErrors: false
