packages:
  yum:
    mysql-server: []

commands:
  01_start_mysql:
    command: "service mysqld start"

  02_create_database:
    command: "mysql -u root -e 'CREATE DATABASE IF NOT EXISTS ddingdong_test'"

  03_create_user:
    command: "mysql -u root -e 'CREATE USER IF NOT EXISTS 'myuser'@'localhost' IDENTIFIED BY 'ddingdong'; GRANT ALL PRIVILEGES ON ddingdong_test.* TO 'myuser'@'localhost'; FLUSH PRIVILEGES;'"
