packages:
  apt:
    wget: []

commands:
  01_update_apt_get:
    command: "apt-get update -y"

  02_add_mysql_repo:
    command: "wget https://dev.mysql.com/get/mysql-apt-config_0.8.17-1_all.deb -O /tmp/mysql-apt-config_0.8.17-1_all.deb && dpkg -i /tmp/mysql-apt-config_0.8.17-1_all.deb"

  03_install_mysql:
    command: "DEBIAN_FRONTEND=noninteractive apt-get install -y mysql-server"

  04_start_mysql:
    command: "service mysql start"

  05_create_database:
    command: "mysql -u root -e 'CREATE DATABASE IF NOT EXISTS ddingdong_test'"

  06_create_user:
    command: "mysql -u root -e \"CREATE USER IF NOT EXISTS 'myuser'@'localhost' IDENTIFIED BY 'mypassword'; GRANT ALL PRIVILEGES ON ddingdong_test.* TO 'myuser'@'localhost'; FLUSH PRIVILEGES;\""
