files:
  "/etc/nginx/conf.d/error_pages.conf":
    content: |
      error_page 500 /500.html;

      location = /500.html {
        root /var/app/current/error_pages;
        internal;
      }
  "/var/app/current/error_pages/500.html":
    content: |
      <!DOCTYPE html>
      <html>
      <head>
        <title>긴급 점검 중</title>
        <style>
          body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
          }
        </style>
      </head>
      <body>
        <h1>긴급 점검 중 입니다</h1>
        <h2>잠시 후 다시 시도해주세요</h2>
      </body>
      </html>

container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"
